
<% @blogs.each do |blog| %>

    <hr>
	  <p>
	<h2><%= link_to blog.title, blog %></h2>
	<h6 class="pull-right"><%= blog.created_at.strftime("%R %v")%></h6>
	  </p>
	<hr>
	<p><%= image_tag blog.image.url %></p>
    <p><%= blog.content.truncate(120) %></p>
    <p><%= link_to 'Edit', edit_blog_path(blog) %> |
    <%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></p>

<% end %>


<br />

<%= link_to 'New Blog', new_blog_path %>

<%= content_for :sidebar do %>
<%= render "common/sidebar_latest_blog" %>
<% end %>
