
<% @styles.each do |style| %>

    <hr>
	  <p>
	<h2><%= link_to style.title, style %></h2>
	<h6 class="pull-right"><%= style.created_at.strftime("%R %v")%></h6>
	  </p>
	<hr>
	<p><%= image_tag style.image.url %></p>
    <p><%= style.content.truncate(120) %></p>
    <p><%= link_to 'Edit', edit_style_path(style) %> |
    <%= link_to 'Destroy', style, :confirm => 'Are you sure?', :method => :delete %></p>

<% end %>


<br />

<%= link_to 'New Style', new_style_path %>

<%= content_for :sidebar do %>
<%= render "cell/sidebar_latest_style" %>
<% end %>
