<div class="page-header">
  <h1><%= @first_brand.name %></h1>
</div>

<p><%= image_tag @first_brand.image.url %></p>
<p><%= @first_brand.description %></p>

<br />

<%= link_to 'New Brand', new_brand_path %>

<%= content_for :sidebar do %>
<%= render "cell/sidebar_all_brands" %>
<% end %>
