<div class="page-header">
  <h1><%= @brand.name %></h1>
</div>

<p><%= image_tag @brand.image.url %></p>
<p>
  <b>Description:</b>
  <%= @brand.description %>
</p>

<br/>
<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
