<div class="row">
  <div class="span12 offset1">
<% @products.each do |product| %>

	<div class="span3">
    	<hr>
	  	<p>
			<h3><%= product.name %></h3>
	    </p>
	    <hr>
	<p><%= link_to (image_tag product.image.url, :size => "300x300"), product.image.url, :class => "lightbox", 			
					:rel => "products" %></p>
    <p>$ <%= product.price %></p>
    <p><%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></p>
	</div>
<% end %>
  </div>
</div>

<br />

<%= content_for :sidebar do %>
<%= link_to 'New Product', new_product_path, :class => "btn" %>
<%= render "common/sidebar_all_products" %>
<% end %>
